@media (min-width: 1220px){
    .middle {
        min-width: 1540px;
        min-height: 1900px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1219px){
    html{
        width: 1200px;
    }

    .middle {
        min-width: 980px;
        height: 1900px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        margin-top: 60px;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1200px) {
    .middle .middle-auto {
        display: flex;
        width: 1540px;
        height: 100%;
    }
}

@media (max-width: 1199px) {
    .middle .middle-auto {
        width: 980px;
        height: 100%;
    }
}

@media (min-width: 1220px){
    .middle .middle-auto .middle-left {
        margin-right: 40px;
        display: inline-block;
        height: 100%;
        width: 360px;
    }
}

@media(max-width: 1219px) {
    .middle .middle-auto .middle-left {
        display: none;
    }
}

@media(min-width: 1220px){
    .middle .middle-auto .middle-left .info {
        width: 100%;
        height: 380px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        box-shadow: 0 0 10px #888888;
        background-color: rgba(255, 255, 255, 0.9);
    }

    .middle .middle-auto .middle-left .info .head-img {
        width: 100%;
        display: -moz-flex;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        height: 120px;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .middle .middle-auto .middle-left .info .head-img .out-ring {
        width: 80px;
        height: 80px;
        display: -moz-flex;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        border-radius: 50px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        transition: 0.3s;
        justify-content: center;
        align-items: center;
        background-color: #dafffa;
        z-index: 999;
    }

    .middle .middle-auto .middle-left .info .head-img .out-ring:hover {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
        width: 110px;
        height: 110px;
    }

    .middle .middle-auto .middle-left .info .head-img .out-ring .images {
        width: 70px;
        height: 70px;
        border-radius: 50px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        transition: 0.3s;
        z-index: -1;
    }

    .middle .middle-auto .middle-left .info .head-img .out-ring:hover > img {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
        width: 100px;
        height: 100px;
    }

    .middle .middle-auto .middle-left .info .only-info {
        margin-bottom: 15px;
    }

    .middle .middle-auto .middle-left .info .only-info .only-info-basic {
        color: #626262;
        margin-bottom: 8px;
    }
}


.middle .middle-auto .middle-left .info .only-info .username > h2 {
    font-weight: bolder;
    font-size: 28px;
}

.middle .middle-auto .middle-left .info .only-info .sign > p {
    margin-top: 20px;
    font-size: 15px;
}

.middle .middle-auto .middle-left .info .only-info .address > i {
    color: #30aad9;
    font-size: 15px;
    margin-right: 5px;
    display: inline-block;
}

.middle .middle-auto .middle-left .info .only-info .address > p {
    display: inline-block;
    font-size: 15px;
}


.middle .middle-auto .middle-left .info .record {
    width: 100%;
    height: 80px;
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -moz-flex;
    margin-bottom: 15px;
    flex: 3;
}

.middle .middle-auto .middle-left .info .record > div {
    height: 100%;
    width: 120px;
}

.middle .middle-auto .middle-left .info .record > div {
    height: 100%;
    width: 120px;

}

.middle .middle-auto .middle-left .info .record .data > .data-number {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -moz-flex;
    height: 50%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.middle .middle-auto .middle-left .info .record .data > .data-digit {
    font-weight: bold;
    color: cornflowerblue;
    font-size: 18px;
}

.middle .middle-auto .middle-left .info .record .data > .data-font {
    color: black;
    font-size: 17px;
}

.middle .middle-auto .middle-left .info .link {
    width: 100%;
    height: 40px;
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-flex;
    display: -o-flex;
    display: flex;
    flex: 9;

}

.middle .middle-auto .middle-left .info .link .link-set {
    width: 40px;
    height: 40px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-flex;
    display: -o-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
}

.middle .middle-auto .middle-left .info .link .link-set a > img {
    width: 20px;
    height: 20px;
}

.middle .middle-auto .middle-left .bulletin-board {
    width: 100%;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px #727272;
}

.middle .middle-auto .middle-left .bulletin-board .bulletin-board-text {
    width: 100%;
    height: 39px;
}

.middle .middle-auto .middle-left .bulletin-board .bulletin-board-context {
    margin-top: 5px;
    width: 100%;
    height: 111px;
}

.middle .middle-auto .middle-left .bulletin-board .bulletin-board-text .bulletin-board-text-p {
    width: 90%;
    height: 39px;
    margin: 0 auto;
    line-height: 39px;
    border-bottom: 1px solid #d1d1d1;
}

.middle .middle-auto .middle-left .bulletin-board .bulletin-board-text .bulletin-board-text-p > p {
    padding: 0 5px 5px 5px;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

.middle .middle-auto .middle-left .bulletin-board .bulletin-board-context .bulletin-board-context-p {
    margin: 5px auto 0 auto;
    width: 90%;
    height: 111px;
}

.middle .middle-auto .middle-left .bulletin-board .bulletin-board-context .bulletin-board-context-p > p {
    word-break: break-all;
    padding: 5px;
    font-size: 16px;
    text-align: left;
}

.middle .middle-auto .middle-left .type {
    width: 100%;
    min-height: 0;
    max-height: 364px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 10px #727272;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.9);
}

.middle .middle-auto .middle-left .type .type-new {
    width: 100%;
    height: 40px;
}

.middle .middle-auto .middle-left .type .type-new .type-new-context {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d1d1d1;
    text-align: left;
}

.middle .middle-auto .middle-left .type .type-new .type-new-context .type-p{
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
}


.middle .middle-auto .middle-left .type .type-new-li {
     width: 100%;
     height: 100%;
 }

.middle .middle-auto .left-area .tag {
    width: 100%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 10px #727272;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.9);
}


.middle .middle-auto .left-area .tag .tag-title {
    width: 100%;
    height: 40px;
}

.middle .middle-auto .left-area .tag .tag-title .tag-title-cloud {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    border-bottom: 1px solid #d1d1d1;
    text-align: left;
}

.middle .middle-auto .left-area .tag .tag-title .tag-title-cloud > p {
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
}

.middle .middle-auto .left-area .tag .tag-tags{
    width: 100%;
}

.middle .middle-auto .left-area .tag .tag-tags table{
    width: 100%;
}

.middle .middle-auto .left-area .tag .tag-tags table tr {
    display: flex;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    min-height: 0;
    margin: 0 auto;
    padding: 0;
    width: 95%;
    justify-content: center;
}


.middle .middle-auto .left-area .tag .tag-tags table tr td{
    display: inline-block;
    margin: 5px 7px 0 7px;
    word-wrap:break-word;
    word-break:break-all;
    white-space:nowrap;
    font-size: 15px;
    height: 20px;
}

@media (min-width: 1220px) {
    .middle .middle-auto .middle-between{
        display: inline-block;
        width: 800px;
        height: 100%;
    }
}

@media (max-width: 1219px) {
    .middle .middle-auto .middle-between{
        margin: 0 auto;
        display: inline-block;
        width: 980px;
        height: 100%;
        min-width: 980px;
    }
}



.middle .middle-auto .middle-between .middle-between-list {
    width: 100%;
    height: 1780px;
}

.middle .middle-auto .middle-between .middle-between-list ul li {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: none;
    box-shadow: 0 0 10px #888888;
}

.middle .middle-auto .middle-between .middle-between-list ul li .middle-between-list-article {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.middle .middle-auto .middle-between .middle-between-list ul li .middle-between-list-article .middle-between-list-article-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-filter: brightness(0.85);
    filter: brightness(0.85);
    transition: all 0.5s;
}

.middle .middle-auto .middle-between .middle-between-list ul li .middle-between-list-article .middle-between-list-article-name {
    position: absolute;
    top: 100px;
    height: 50px;
    text-align: center;
    transition: 0.4s;
}

.middle .middle-auto .middle-between .middle-between-list ul li .middle-between-list-article .middle-between-list-article-name p a {
    font-size: 24px;
    color: white;
}

.middle .middle-auto .middle-between .middle-between-list ul li .middle-between-list-article .middle-between-list-article-info {
    position: absolute;
    top: 170px;
    height: 70px;
    padding: 3px;
    opacity: 0;
    width: 95%;
    transition: all 0.3s;
}


.middle .middle-auto .middle-between .middle-between-list ul li .middle-between-list-article .middle-between-list-article-info p {
    font-size: 18px;
    color: white;
    text-align: left;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: clip;
}

.middle .middle-auto .middle-between .middle-between-list ul li .middle-between-list-article .middle-between-list-article-record {
    top: 250px;
    position: absolute;
    width: 95%;
    height: 50px;
    border-top: 1px solid #cccccc;
    margin: 0 auto;
    opacity: 0;
    transition: all 0.3s;
}

.middle .middle-auto .middle-between .middle-between-list ul li .middle-between-list-article .middle-between-list-article-record .operation {
    display: inline-block;
    float: left;
    width: 110px;
    height: 100%;
    color: white;
    font-size: 17px;
    line-height: 50px;
}

.middle .middle-auto .middle-between .middle-between-list  ul li:hover .middle-between-list-article-img{
    transform: scale(1.3);
}

.middle .middle-auto .middle-between .middle-between-list  ul li :hover .middle-between-list-article-info {
    opacity: 1;
}


.middle .middle-auto .middle-between .middle-between-list  ul li :hover .middle-between-list-article-record {
    opacity: 1;
}

.middle .middle-auto .middle-between .middle-between-list  ul li :hover .middle-between-list-article-name {
    top: 80px;
    font-size: 26px;
    text-shadow: 0 0 10px white;
}

.middle .middle-auto .middle-between .middle-between-list  ul li :hover .middle-between-list-article-name p a{
    font-size: 26px;
}

.middle .middle-auto .middle-between .middle-between-list  .middle-between-paging {
    margin-top: 35px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle .middle-auto .middle-between .middle-between-list  .middle-between-paging .middle-between-paging-style {
    display: none;
    opacity: 0.9;
    padding: 5px;
    width: 90%;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.middle .middle-auto .middle-between .middle-between-list  .middle-between-paging .middle-between-paging-style .middle-between-paging-style-page{
    cursor: pointer;
    display: inline-block;
    width: 30px;
    line-height: 30px;
    height: 30px;
    background-color: white;
    box-shadow: 0 0 10px #888888;
    border-radius: 2px;
}

.middle .middle-auto .middle-between .middle-between-list  .middle-between-paging .middle-between-paging-style .middle-between-paging-style-ul{
    display: inline-block;
    min-width: 0;
    height: 30px;
    margin: 0 5px;
}

.middle .middle-auto .middle-between .middle-between-list  .middle-between-paging .middle-between-paging-style .middle-between-paging-style-ul ul{
    height: 30px;
}

.middle .middle-auto .middle-between .middle-between-list  .middle-between-paging .middle-between-paging-style .middle-between-paging-style-ul ul li{
    width: 30px;
    line-height: 30px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin: 0;
    background-color: white;
    box-shadow: 0 0 10px #888888;
    border-radius: 2px;
}

.middle .middle-auto .middle-between .middle-between-list  .middle-between-paging .middle-between-paging-style .middle-between-paging-style-ul ul li:last-child{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: white;
    box-shadow: 0 0 10px #888888;
    border-radius: 2px;
}

.page-list{
    text-align: center;
    line-height: 30px;
}

@media (min-width: 1220px) {
    .middle .middle-auto .middle-right{
        margin-left: 40px;
        width: 320px;
        height: 100%;
        background:none;
    }
}


@media (max-width: 1219px) {
    .middle .middle-auto .middle-right{
        display: none;
    }
}


.middle .middle-auto .middle-right .right-area{
    width: 320px;
    height: 100%;
    display: inline-block;
}

.middle .middle-auto .middle-right .right-area .bulletin-board {
    width: 100%;
    height: 130px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 10px #727272;
}

.middle .middle-auto .middle-right .right-area .bulletin-board .bulletin-board-text {
    width: 100%;
    height: 39px;
}

.middle .middle-auto .middle-right .right-area .bulletin-board .bulletin-board-context {
    margin-top: 5px;
    width: 100%;
    height: 86px;
}

.middle .middle-auto .middle-right .right-area .bulletin-board .bulletin-board-text .bulletin-board-text-p {
    width: 90%;
    height: 39px;
    margin: 0 auto;
    line-height: 39px;
    border-bottom: 1px solid #d1d1d1;
}

.middle .middle-auto .middle-right .right-area .bulletin-board .bulletin-board-text .bulletin-board-text-p > p {
    padding: 0 5px 5px 5px;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

.middle .middle-auto .middle-right .right-area .bulletin-board .bulletin-board-context .bulletin-board-context-p {
    margin: 5px auto 0 auto;
    width: 90%;
    height: 100%;
}

.middle .middle-auto .middle-right .right-area .bulletin-board .bulletin-board-context .bulletin-board-context-p > p {
    word-break: break-all;
    padding: 5px;
    max-height: 62px;
    overflow-y: auto;
    font-size: 16px;
    text-align: left;
}



.middle .middle-auto .middle-right .right-area .more{
    width: 100%;
    height: 190px;
    margin-top: 20px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 0 10px #888888;
}

.middle .middle-auto .middle-right .right-area .more .more-top{
    width: 90%;
    height: 39px;
    text-align: left;
    line-height: 39px;
    border-bottom: 1px solid #cccccc;
    margin: 0 auto;
}

.middle .middle-auto .middle-right .right-area .more .more-top > p{
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 700;
    padding: 0 5px 5px 5px;
}

.middle .middle-auto .middle-right .right-area .more-content{
    width: 90%;
    height: 150px;
    margin: 0 auto;
}

.middle .middle-auto .middle-right .right-area .more-content > div{
    display: flex;
    width: 100%;
    height: 25%;
}

.middle .middle-auto .middle-right .right-area .more-content div > p{
    padding-left: 5px;
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    align-items: center;
    width: 108px;
    height: 100%;
    font-size: 16px;
    font-weight: 700;
}

.middle .middle-auto .middle-right .right-area .more-content .more-content-top .more-content-top-one i{
    color: #57abfd;
}

.middle .middle-auto .middle-right .right-area .more-content .more-content-top .more-content-top-two i{
    color:#ffb800;
}


.middle .middle-auto .middle-right .right-area .more-content .more-content-top .more-content-top-three i{
    color:#cccccc;
}

.middle .middle-auto .middle-right .right-area .music{
    width: 100%;
    height: 120px;
    margin-top: 20px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 0 10px #888888;
}

.middle .middle-auto .middle-right .right-area .popular {
    width: 100%;
    min-height: 0;
    max-height: 364px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 10px #727272;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.9);
}

.middle .middle-auto .middle-right .right-area .popular .popular-new {
    width: 100%;
    height: 40px;
}

.middle .middle-auto .middle-right .right-area .popular .popular-new .popular-new-context {
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    border-bottom: 1px solid #d1d1d1;
    text-align: left;
}

.middle .middle-auto .middle-right .right-area .popular .popular-new .popular-new-context .classify-p{
    font-size: 16px;
    position: absolute;
    left: 0;
    font-weight: 700;
    color: #00a3d4 ;
    cursor: pointer;
    border-bottom: 2px solid #00a3d4;
    height: 30px;
    bottom: 0;
}

.middle .middle-auto .middle-right .right-area .popular .popular-new .popular-new-context  .popular-p{
    font-size: 16px;
    position: absolute;
    right: 110px;
    height: 30px;
    cursor: pointer;
    bottom: 0;
}

.middle .middle-auto .middle-right .right-area .popular .popular-new .popular-new-context  .discuss-p{
    font-size: 16px;
    position: absolute;
    right: 0;
    height: 30px;
    cursor: pointer;
    bottom: 0;
}

.middle .middle-auto .middle-right .right-area .popular .popular-new-li {
    width: 100%;
    height: 100%;
}

.middle .middle-auto .middle-right .right-area .popular .popular-new-li ul .popular-new-li {
    margin: 0 auto;
    width: 90%;
    height: 64px;
    border-bottom: 1px solid #d1d1d1;
    text-align: left;
}

.middle .middle-auto .middle-right .right-area .popular .popular-new-li ul .popular-new-li:last-child {
    border: none;
}

.middle .middle-auto .middle-right .right-area .popular .popular-new-li ul .popular-new-li .popular-image {
    display: flex;
    width: 64px;
    height: 64px;
    float: left;
    justify-content: center;
    align-items: center;
}

.middle .middle-auto .middle-right .right-area .popular .popular-new-li ul .popular-new-li .popular-image > img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
}

.middle .middle-auto .middle-right .right-area .popular .popular-new-li ul .popular-new-li .popular-text {
    float: right;
    height: 100%;
    width: 214px;
    margin-left: 10px;
}

.middle .middle-auto .middle-right .right-area .popular .popular-new-li ul .popular-new-li .popular-text .popular-text-title {
    position: relative;
    height: 70%;
    width: 100%;
}

.middle .middle-auto .middle-right .right-area .popular .popular-new-li ul .popular-new-li .popular-text .popular-text-title > a{
    color: black;
    height: 100%;
}

.middle .middle-auto .middle-right .right-area .popular .popular-new-li ul .popular-new-li .popular-text .popular-text-title > a:hover{
    color: black;
    height: 100%;
}

.middle .middle-auto .middle-right .right-area .popular .popular-new-li ul .popular-new-li .popular-text .popular-text-title a > p {
    height: 100%;
    width: 100%;
    line-height: 43px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 17px;
    white-space: nowrap;
}


.middle .middle-auto .middle-right .right-area .popular .popular-new-li ul .popular-new-li .popular-text .popular-text-title .disc{
    position: absolute;
    top: 25px;
    width: 100%;
    cursor: pointer;
}

.middle .middle-auto .middle-right .right-area .popular .popular-new-li ul .popular-new-li .popular-text .popular-text-title .disc:hover{
    color: orange;
}

.middle .middle-auto .middle-right .right-area .popular .popular-new-li ul .popular-new-li .popular-text .popular-text-title .disc > p{
    width: 100%;
    font-size: 14px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.middle .middle-auto .middle-right .right-area .popular .popular-new-li ul .popular-new-li .popular-text .popular-text-date{
    display: flex;
}

.middle .middle-auto .middle-right .right-area .popular .popular-new-li ul .popular-new-li .popular-text .popular-text-date > p {
    flex: 1;
    font-size: 15px;
    color: #aaaaaa;
}

.middle .middle-auto .middle-right .right-area .popular .popular-new-li ul .popular-new-li .popular-text .popular-text-date > p:first-child{
    text-align: left;
}

.middle .middle-auto .middle-right .right-area .popular .popular-new-li ul .popular-new-li .popular-text .popular-text-date > p:last-child{
    text-align: right;
}
.btnColor{
    background-color: green!important;
    color: white!important;
}

.big{
    font-weight: 700;
    color: #2db5f8!important;
}