input::-ms-input-placeholder {
    color: #cccccc;
}

input::-ms-input-placeholder {
    color: #cccccc;
}

input::-webkit-input-placeholder {
    color: #cccccc;
}

input:-moz-placeholder {
    color: #cccccc;
}

input::-moz-placeholder {
    color: #cccccc;
}

.user .forgetPwd{
    display: none;
    width: 380px;
    transition: 0.6s;
    height: 320px;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 0 10px #888888;
    box-sizing: border-box;
}

.user .forgetPwd .forgetPwd-top{
    display: flex;
    width: 100%;
    height: 40px;
}

.user .forgetPwd .forgetPwd-top .forgetText{
    display: inline-block;
    height: 100%;
    width: 50%;
}

.user .forgetPwd .forgetPwd-top .forgetText > p{
    width: 80px;
    height: 100%;
    margin-left: 15px;
    text-align: left;
    line-height: 40px;
    font-size: 18px;
}

.user .forgetPwd .forgetPwd-top .forgetClose{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 50%;
}

.user .forgetPwd .forgetPwd-top .forgetClose > i{
    cursor: pointer;
    height: 26px;
    width: 26px;
    text-align: right;
    margin-right: 10px;
    font-size: 26px;
}

.user .forgetPwd .forgetPwd-middle{
    width: 100%;
    /*height: 260px;*/
    height: 180px;
    transition: 0.6s;
}

.user .forgetPwd .forgetPwd-middle > input{
    font-size: 17px;
    margin: 7px 0 7px 0;
    width: 80%;
    height: 40px;
    background: none;
    border: none;
    border-bottom: 1px solid #56ffb4;
}

.user .forgetPwd .forgetPwd-middle .none-password{
    display: none;
}

.user .forgetPwd .forgetPwd-middle .Experimental{
    margin: 7px auto 7px auto;
    width: 80%;
    height: 40px;
    background: none;
    border: none;
}

.user .forgetPwd .forgetPwd-middle .Experimental > input{
    float: left;
    font-size: 17px;
    width: 65%;
    height: 40px;
    background: none;
    border: none;
    border-bottom: 1px solid #56ffb4;
}

.user .forgetPwd .forgetPwd-middle .Experimental > button{
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    float: right;
    color: white;
    font-size: 16px;
    width: 30%;
    height: 40px;
    background: #00ad00;
    border: none;
}

.user .forgetPwd .forget-bottom{
    width: 100%;
    height: 100px;
}

.user .forgetPwd .forget-bottom > button{
    cursor: pointer;
    width: 80%;
    margin-top: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    height: 40px;
    border: none;
    background: #e7e700;
}

.user .forgetPwd .forget-bottom > button:hover{
    background: #dfdf00;
}

.user .forgetPwd .forget-bottom > p{
    cursor: pointer;
    margin-top: 10px;
    color: #888888;
}

.user .forgetPwd .forget-bottom > p:hover{
    color: cornflowerblue;
}