 input::-ms-input-placeholder {
    color: #cccccc;
}

input::-ms-input-placeholder {
    color: #cccccc;
}

input::-webkit-input-placeholder {
    color: #cccccc;
}

input:-moz-placeholder {
    color: #cccccc;
}

input::-moz-placeholder {
    color: #cccccc;
}

.user .updatePwd{
    display: none;
    width: 380px;
    height: 320px;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 0 10px #888888;
    box-sizing: border-box;
}

.user .updatePwd .updatePwd-top{
    display: flex;
    width: 100%;
    height: 40px;
}

.user .updatePwd .updatePwd-top .updateText{
    display: inline-block;
    height: 100%;
    width: 50%;
}

.user .updatePwd .updatePwd-top .updateText > p{
    width: 80px;
    height: 100%;
    margin-left: 15px;
    text-align: left;
    line-height: 40px;
    font-size: 18px;
}

.user .updatePwd .updatePwd-top .updateClose{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 50%;
}

.user .updatePwd .updatePwd-top .updateClose > i{
    cursor: pointer;
    height: 26px;
    width: 26px;
    text-align: right;
    margin-right: 10px;
    font-size: 26px;
}

.user .updatePwd .updatePwd-middle{
    width: 100%;
    height: 180px;
}

.user .updatePwd .updatePwd-middle > input{
    font-size: 17px;
    margin: 7px 0 7px 0;
    width: 80%;
    height: 40px;
    background: none;
    border: none;
    border-bottom: 1px solid #56ffb4;
}

.user .updatePwd .updatePwd-middle .Experimental{
    margin: 7px auto 7px auto;
    width: 80%;
    height: 40px;
    background: none;
    border: none;
}

.user .updatePwd .updatePwd-middle .Experimental > input{
    font-size: 17px;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid #56ffb4;
}

.user .updatePwd .update-bottom{
    width: 100%;
    height: 100px;
}

.user .updatePwd .update-bottom > button{
    cursor: pointer;
    width: 80%;
    margin-top: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    height: 40px;
    border: none;
    background: #e7e700;
}

.user .updatePwd .update-bottom > button:hover{
    background: #dfdf00;
}