<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tree的个人网站</title>
    <link rel="stylesheet" th:href="@{/css/error/404.css}">
</head>
<body>
<div class="error">
    <div class="errorContent">
        <div  class="errorIcon">
            <div class="errorContentIcon">
                <div class="yl-image">

                </div>
                <div class="Content404"><span>您访问的页面不存在！</span></div>
            </div>
            <div class="errorA">
                <a th:href="@{/home.html}">返回首页</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>