<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>tree的博客-我的日记</title>
    <div th:replace="~{common/LoadCommon::icon}"></div>
    <link rel="stylesheet" th:href="@{/css/reception/informal/informal.css}">
    <link rel="stylesheet" href="/css/common.css">
    <div th:replace="~{common/LoadCommon::loadCss}"></div>
</head>
<body>
<div class="panel"></div>
<div class="panel-double">
    <div class="panel-content">
        <div class="panel-content-close">
            <i class="layui-icon layui-icon-close"></i>
        </div>
        <input type="hidden" id="daily">
        <div th:replace="common/common::discuss"></div>
    </div>
</div>

<div th:replace="~{common/common::user}"></div>
<div th:replace="~{common/common::header(active='informal')}"></div>
<div class="informal">
    <div class="informal-body">
        <div th:replace="~{common/common::left-area}"></div>
        <div class="informal-middle">
            <input type="hidden" th:value="${pageNumber}" id="pageNumber">
            <div class="informal-middle-between">
                <ul class="informal-ul">
                    <li th:each="daily:${dailyList}" class="informal-li">
                        <div class="informal-header"><img th:src="@{https://api.oss.tanxiangblog.com/images/users/head.png}" alt="管理员头像"></div>
                        <div class="informal-content">
                            <div class="arrow"><img th:src="@{https://www.tanxiangblog.com/images/left-triangle.svg}" alt="左三角形"></div>
                            <div class="content">
                                <div class="date">
                                    <div class="name">Tree</div>
                                    <div class="time" th:text="${#dates.format(daily.uploadTime,'yyyy-MM-dd')}"></div>
                                </div>
                                <div class="substance"><p th:utext="${daily.content}"></p></div>
                                <div class="handle">
                                    <div class="discuss"><i class="layui-icon layui-icon-reply-fill"></i>&nbsp;<span th:text="${daily.discussNumber}"></span>条评论</div>
                                    <div class="good">
                                        <input type="hidden" th:value="${daily.dailyId}">
                                        <i class="layui-icon layui-icon-praise"></i>&nbsp;
                                        <span th:text="${daily.goodNumber}"></span>
                                        个点赞
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div th:replace="~{common/common::page}"></div>
            </div>
        </div>
       <div th:replace="~{common/common::right-area}"></div>
    </div>
</div>
<div th:replace="~{common/common::rocket}"></div>
<div th:replace="~{blog/reception/home::footer}"></div>
<div th:replace="~{common/LoadCommon::loadJS}"></div>
<script type="text/javascript" th:src="@{/js/reception/informal/informal.js}"></script>
</body>
</html>